#header{
    height: 50px;
    background: #102841;
    Color:#fff;
}

#branding h1{
    color:#fff;
}

a:link,a:visited{
    color: #10248e;
}

div.breadcrumbs{
    background: #30caa0;
    color: #10248e;
}

div.breadcrumbs a{
    color:black;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #10248e;

}